/modulo01/node_modules
/modulo02/node_modules
/modulo03/node_modules
/modulo03/.env
/modulo04/node_modules
/modulo05/node_modules
/modulo06/node_modules
/modulo07/node_modules

/desafio01/node_modules
/desafio02/node_modules
/desafio03/node_modules
/desafio03/.env
/desafio03/tmp/uploads/*
/desafio04/node_modules
/desafio05/node_modules
